.App {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "header header"
"menu body";
    height: 100vh;
}

.header {
    grid-area: header;
    background: aqua;
}

.body {
    grid-area: body;
    background: bisque;
    align-items: stretch;

}

.menu {
    grid-area: menu;
    background: blue;
    align-self: stretch;
}